{% comment %}
  Renders a product specification element.
  Accepts:
  -image: Image of the product specification
  -description: Description of the product specification

  Usage:
  {% render 'product-specification',
    image: block.settings.image_spec,
    description: block.settings.spec_description
  %}
{% endcomment %}

<div class="flex flex-col items-center p-[2%]">
  <div class="xl:w-96 xl:h-96 lg:w-80 lg:h-80 md:h-56 md:w-56 sm:h-28 sm:w-28 overflow-hidden">
    {{ image | image_url: width: 800 | image_tag }}
  </div>
  <p class="text-center text-black md:text-3xl sm:text-2xl font-body font-base mt-[5%] md:w-2/3 lg:w-1/2 xl:w-3/4">
    {{ description }}
  </p>
</div>