@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
      font-family: 'Space Grotesk';
      src: url("./assets/spacegrotesk.ttf");
    }
    @font-face {
      font-family: 'Fig Tree';
      src: url("./assets/figtree.ttf");
    }
  }
  
  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}

:root {
    --header-height: 10rem;
}