@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 300;
      font-optical-sizing: auto;
    }
    @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 400;
      font-optical-sizing: auto;
    }
    @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 500;
      font-optical-sizing: auto;
    }
    @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 600;
      font-optical-sizing: auto;
    }
    @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 700;
      font-optical-sizing: auto;
    }
    @font-face {
      font-family: 'Fig Tree';
      font-style: normal;
      font-weight: 600;
      font-optical-sizing: auto;
    }
    @font-face {
      font-family: 'Fig Tree';
      font-style: normal;
      font-weight: 700;
      font-optical-sizing: auto;
    }
    @font-face {
      font-family: 'Fig Tree';
      font-style: normal;
      font-weight: 800;
      font-optical-sizing: auto;
    }
    @font-face {
      font-family: 'Fig Tree';
      font-style: normal;
      font-weight: 900;
      font-optical-sizing: auto;
    }
  }
  
  @layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}