@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url(/assets/space_grotesk.ttf) format('ttf');
    }
    @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/assets/space_grotesk.ttf) format('ttf');
    }
    @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url(/assets/space_grotesk.ttf) format('ttf');
    }
    @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url(/assets/space_grotesk.ttf) format('ttf');
    }
    @font-face {
      font-family: 'Space Grotesk';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(/assets/space_grotesk.ttf) format('ttf');
    }
    @font-face {
      font-family: 'Fig Tree';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url(/assets/figtree.ttf) format('ttf');
    }
    @font-face {
      font-family: 'Fig Tree';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url(/assets/figtree.ttf) format('ttf');
    }
    @font-face {
      font-family: 'Fig Tree';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url(/assets/figtree.ttf) format('ttf');
    }
    @font-face {
      font-family: 'Fig Tree';
      font-style: normal;
      font-weight: 900;
      font-display: swap;
      src: url(/assets/figtree.ttf) format('ttf');
    }
  }