*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

@font-face {
  font-family: 'Space Grotesk';

  src: url("./assets/spacegrotesk.ttf")
}

@font-face {
  font-family: 'Kufam';

  src: url("./assets/kufam.ttf");
}

.container {
  width: 100%;
}

@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media (min-width: 440px) {
  .container {
    max-width: 440px;
  }
}

@media (min-width: 750px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 990px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

.prose {
  color: var(--tw-prose-body);
  max-width: 65ch;
}

.prose :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where([class~="lead"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-lead);
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-links);
  text-decoration: underline;
  font-weight: 500;
}

.prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-bold);
  font-weight: 600;
}

.prose :where(a strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(blockquote strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(thead th strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.prose :where(ol[type="A"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="A" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="I"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="I" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="1"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: decimal;
}

.prose :where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.prose :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  font-weight: 400;
  color: var(--tw-prose-counters);
}

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  color: var(--tw-prose-bullets);
}

.prose :where(dt):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.25em;
}

.prose :where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 500;
  font-style: italic;
  color: var(--tw-prose-quotes);
  border-inline-start-width: 0.25rem;
  border-inline-start-color: var(--tw-prose-quote-borders);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-inline-start: 1em;
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: open-quote;
}

.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: close-quote;
}

.prose :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose :where(h1 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 900;
  color: inherit;
}

.prose :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose :where(h2 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 800;
  color: inherit;
}

.prose :where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose :where(h3 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 700;
  color: inherit;
}

.prose :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose :where(h4 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 700;
  color: inherit;
}

.prose :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(picture):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(video):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(kbd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 500;
  font-family: inherit;
  color: var(--tw-prose-kbd);
  box-shadow: 0 0 0 1px rgb(var(--tw-prose-kbd-shadows) / 10%), 0 3px 0 rgb(var(--tw-prose-kbd-shadows) / 10%);
  font-size: 0.875em;
  border-radius: 0.3125rem;
  padding-top: 0.1875em;
  padding-inline-end: 0.375em;
  padding-bottom: 0.1875em;
  padding-inline-start: 0.375em;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-code);
  font-weight: 600;
  font-size: 0.875em;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: "`";
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: "`";
}

.prose :where(a code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(h1 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(h2 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
  font-size: 0.875em;
}

.prose :where(h3 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
  font-size: 0.9em;
}

.prose :where(h4 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(blockquote code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(thead th code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-inline-end: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-inline-start: 1.1428571em;
}

.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: none;
}

.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: none;
}

.prose :where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  width: 100%;
  table-layout: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose :where(thead):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-th-borders);
}

.prose :where(thead th):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  vertical-align: bottom;
  padding-inline-end: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-inline-start: 0.5714286em;
}

.prose :where(tbody tr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-td-borders);
}

.prose :where(tbody tr:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-bottom-width: 0;
}

.prose :where(tbody td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  vertical-align: baseline;
}

.prose :where(tfoot):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-top-width: 1px;
  border-top-color: var(--tw-prose-th-borders);
}

.prose :where(tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  vertical-align: top;
}

.prose :where(th, td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  text-align: start;
}

.prose :where(figure > *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(figcaption):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-captions);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.prose {
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-lead: #4b5563;
  --tw-prose-links: #111827;
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-kbd: #111827;
  --tw-prose-kbd-shadows: 17 24 39;
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-kbd: #fff;
  --tw-prose-invert-kbd-shadows: 255 255 255;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 1rem;
  line-height: 1.75;
}

.prose :where(picture > img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0.375em;
}

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0.375em;
}

.prose :where(.prose > ul > li p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose :where(.prose > ul > li > p:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose :where(.prose > ul > li > p:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(.prose > ol > li > p:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose :where(.prose > ol > li > p:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose :where(dl):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where(dd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.5em;
  padding-inline-start: 1.625em;
}

.prose :where(hr + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h3 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h4 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(thead th:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose :where(thead th:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-end: 0;
}

.prose :where(tbody td, tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-top: 0.5714286em;
  padding-inline-end: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-inline-start: 0.5714286em;
}

.prose :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-end: 0;
}

.prose :where(figure):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(.prose > :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(.prose > :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.-bottom-2 {
  bottom: -0.5rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-1\.5 {
  bottom: 0.375rem;
}

.bottom-12 {
  bottom: 3rem;
}

.bottom-16 {
  bottom: 4rem;
}

.bottom-4 {
  bottom: 1rem;
}

.bottom-8 {
  bottom: 2rem;
}

.left-0 {
  left: 0px;
}

.left-1\.5 {
  left: 0.375rem;
}

.left-20 {
  left: 5rem;
}

.left-8 {
  left: 2rem;
}

.right-0 {
  right: 0px;
}

.right-12 {
  right: 3rem;
}

.right-4 {
  right: 1rem;
}

.right-6 {
  right: 1.5rem;
}

.right-\[45vw\] {
  right: 45vw;
}

.top-8 {
  top: 2rem;
}

.isolate {
  isolation: isolate;
}

.z-0 {
  z-index: 0;
}

.z-20 {
  z-index: 20;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.m-12 {
  margin: 3rem;
}

.-mx-\[2\%\] {
  margin-left: -2%;
  margin-right: -2%;
}

.-mx-\[3\%\] {
  margin-left: -3%;
  margin-right: -3%;
}

.mx-\[2\%\] {
  margin-left: 2%;
  margin-right: 2%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-12 {
  margin-left: 3rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mr-\[10\%\] {
  margin-right: 10%;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.h-0 {
  height: 0px;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-16 {
  height: 4rem;
}

.h-2\.5 {
  height: 0.625rem;
}

.h-2\/3 {
  height: 66.666667%;
}

.h-28 {
  height: 7rem;
}

.h-3\/4 {
  height: 75%;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-52 {
  height: 13rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-80 {
  height: 20rem;
}

.h-\[50rem\] {
  height: 50rem;
}

.h-\[calc\(100\%-6rem\)\] {
  height: calc(100% - 6rem);
}

.h-\[var\(--header-height\)\] {
  height: var(--header-height);
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.max-h-\[30rem\] {
  max-height: 30rem;
}

.max-h-\[36rem\] {
  max-height: 36rem;
}

.min-h-8 {
  min-height: 2rem;
}

.min-h-\[40vh\] {
  min-height: 40vh;
}

.w-1 {
  width: 0.25rem;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-14 {
  width: 3.5rem;
}

.w-16 {
  width: 4rem;
}

.w-24 {
  width: 6rem;
}

.w-28 {
  width: 7rem;
}

.w-3 {
  width: 0.75rem;
}

.w-4 {
  width: 1rem;
}

.w-4\/5 {
  width: 80%;
}

.w-40 {
  width: 10rem;
}

.w-5 {
  width: 1.25rem;
}

.w-8 {
  width: 2rem;
}

.w-80 {
  width: 20rem;
}

.w-\[30rem\] {
  width: 30rem;
}

.w-\[80vw\] {
  width: 80vw;
}

.w-\[90vw\] {
  width: 90vw;
}

.w-\[calc\(100\%-6rem\)\] {
  width: calc(100% - 6rem);
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.min-w-8 {
  min-width: 2rem;
}

.max-w-\[30rem\] {
  max-width: 30rem;
}

.max-w-screen-lg {
  max-width: 990px;
}

.max-w-screen-md {
  max-width: 750px;
}

.-scale-x-100 {
  --tw-scale-x: -1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping-slower {
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-4 {
  gap: 1rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-\[30rem\] {
  gap: 30rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-12 {
  gap: 3rem;
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-wrap {
  text-wrap: wrap;
}

.break-words {
  overflow-wrap: break-word;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[2\.5em\] {
  border-radius: 2.5em;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border-2 {
  border-width: 2px;
}

.border {
  border-width: 1px;
}

.\!border {
  border-width: 1px !important;
}

.\!border-2 {
  border-width: 2px !important;
}

.border-bg {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 242 / var(--tw-border-opacity));
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-neutral-800 {
  --tw-border-opacity: 1;
  border-color: rgb(38 38 38 / var(--tw-border-opacity));
}

.\!border-bg {
  --tw-border-opacity: 1 !important;
  border-color: rgb(255 255 242 / var(--tw-border-opacity)) !important;
}

.bg-amber-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 243 199 / var(--tw-bg-opacity));
}

.bg-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 242 / var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-hl-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(48 159 181 / var(--tw-bg-opacity));
}

.bg-hl-blue\/0 {
  background-color: rgb(48 159 181 / 0);
}

.bg-hl-blue\/10 {
  background-color: rgb(48 159 181 / 0.1);
}

.bg-hl-blue\/100 {
  background-color: rgb(48 159 181 / 1);
}

.bg-hl-blue\/15 {
  background-color: rgb(48 159 181 / 0.15);
}

.bg-hl-blue\/20 {
  background-color: rgb(48 159 181 / 0.2);
}

.bg-hl-blue\/25 {
  background-color: rgb(48 159 181 / 0.25);
}

.bg-hl-blue\/30 {
  background-color: rgb(48 159 181 / 0.3);
}

.bg-hl-blue\/35 {
  background-color: rgb(48 159 181 / 0.35);
}

.bg-hl-blue\/40 {
  background-color: rgb(48 159 181 / 0.4);
}

.bg-hl-blue\/45 {
  background-color: rgb(48 159 181 / 0.45);
}

.bg-hl-blue\/5 {
  background-color: rgb(48 159 181 / 0.05);
}

.bg-hl-blue\/50 {
  background-color: rgb(48 159 181 / 0.5);
}

.bg-hl-blue\/55 {
  background-color: rgb(48 159 181 / 0.55);
}

.bg-hl-blue\/60 {
  background-color: rgb(48 159 181 / 0.6);
}

.bg-hl-blue\/65 {
  background-color: rgb(48 159 181 / 0.65);
}

.bg-hl-blue\/70 {
  background-color: rgb(48 159 181 / 0.7);
}

.bg-hl-blue\/75 {
  background-color: rgb(48 159 181 / 0.75);
}

.bg-hl-blue\/80 {
  background-color: rgb(48 159 181 / 0.8);
}

.bg-hl-blue\/85 {
  background-color: rgb(48 159 181 / 0.85);
}

.bg-hl-blue\/90 {
  background-color: rgb(48 159 181 / 0.9);
}

.bg-hl-blue\/95 {
  background-color: rgb(48 159 181 / 0.95);
}

.bg-hl-green {
  --tw-bg-opacity: 1;
  background-color: rgb(139 186 65 / var(--tw-bg-opacity));
}

.bg-hl-green\/0 {
  background-color: rgb(139 186 65 / 0);
}

.bg-hl-green\/10 {
  background-color: rgb(139 186 65 / 0.1);
}

.bg-hl-green\/100 {
  background-color: rgb(139 186 65 / 1);
}

.bg-hl-green\/15 {
  background-color: rgb(139 186 65 / 0.15);
}

.bg-hl-green\/20 {
  background-color: rgb(139 186 65 / 0.2);
}

.bg-hl-green\/25 {
  background-color: rgb(139 186 65 / 0.25);
}

.bg-hl-green\/30 {
  background-color: rgb(139 186 65 / 0.3);
}

.bg-hl-green\/35 {
  background-color: rgb(139 186 65 / 0.35);
}

.bg-hl-green\/40 {
  background-color: rgb(139 186 65 / 0.4);
}

.bg-hl-green\/45 {
  background-color: rgb(139 186 65 / 0.45);
}

.bg-hl-green\/5 {
  background-color: rgb(139 186 65 / 0.05);
}

.bg-hl-green\/50 {
  background-color: rgb(139 186 65 / 0.5);
}

.bg-hl-green\/55 {
  background-color: rgb(139 186 65 / 0.55);
}

.bg-hl-green\/60 {
  background-color: rgb(139 186 65 / 0.6);
}

.bg-hl-green\/65 {
  background-color: rgb(139 186 65 / 0.65);
}

.bg-hl-green\/70 {
  background-color: rgb(139 186 65 / 0.7);
}

.bg-hl-green\/75 {
  background-color: rgb(139 186 65 / 0.75);
}

.bg-hl-green\/80 {
  background-color: rgb(139 186 65 / 0.8);
}

.bg-hl-green\/85 {
  background-color: rgb(139 186 65 / 0.85);
}

.bg-hl-green\/90 {
  background-color: rgb(139 186 65 / 0.9);
}

.bg-hl-green\/95 {
  background-color: rgb(139 186 65 / 0.95);
}

.bg-hl-lighter-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(221 238 255 / var(--tw-bg-opacity));
}

.bg-hl-lighter-blue\/0 {
  background-color: rgb(221 238 255 / 0);
}

.bg-hl-lighter-blue\/10 {
  background-color: rgb(221 238 255 / 0.1);
}

.bg-hl-lighter-blue\/100 {
  background-color: rgb(221 238 255 / 1);
}

.bg-hl-lighter-blue\/15 {
  background-color: rgb(221 238 255 / 0.15);
}

.bg-hl-lighter-blue\/20 {
  background-color: rgb(221 238 255 / 0.2);
}

.bg-hl-lighter-blue\/25 {
  background-color: rgb(221 238 255 / 0.25);
}

.bg-hl-lighter-blue\/30 {
  background-color: rgb(221 238 255 / 0.3);
}

.bg-hl-lighter-blue\/35 {
  background-color: rgb(221 238 255 / 0.35);
}

.bg-hl-lighter-blue\/40 {
  background-color: rgb(221 238 255 / 0.4);
}

.bg-hl-lighter-blue\/45 {
  background-color: rgb(221 238 255 / 0.45);
}

.bg-hl-lighter-blue\/5 {
  background-color: rgb(221 238 255 / 0.05);
}

.bg-hl-lighter-blue\/50 {
  background-color: rgb(221 238 255 / 0.5);
}

.bg-hl-lighter-blue\/55 {
  background-color: rgb(221 238 255 / 0.55);
}

.bg-hl-lighter-blue\/60 {
  background-color: rgb(221 238 255 / 0.6);
}

.bg-hl-lighter-blue\/65 {
  background-color: rgb(221 238 255 / 0.65);
}

.bg-hl-lighter-blue\/70 {
  background-color: rgb(221 238 255 / 0.7);
}

.bg-hl-lighter-blue\/75 {
  background-color: rgb(221 238 255 / 0.75);
}

.bg-hl-lighter-blue\/80 {
  background-color: rgb(221 238 255 / 0.8);
}

.bg-hl-lighter-blue\/85 {
  background-color: rgb(221 238 255 / 0.85);
}

.bg-hl-lighter-blue\/90 {
  background-color: rgb(221 238 255 / 0.9);
}

.bg-hl-lighter-blue\/95 {
  background-color: rgb(221 238 255 / 0.95);
}

.bg-hl-lighter-green {
  --tw-bg-opacity: 1;
  background-color: rgb(231 255 193 / var(--tw-bg-opacity));
}

.bg-hl-lighter-green\/0 {
  background-color: rgb(231 255 193 / 0);
}

.bg-hl-lighter-green\/10 {
  background-color: rgb(231 255 193 / 0.1);
}

.bg-hl-lighter-green\/100 {
  background-color: rgb(231 255 193 / 1);
}

.bg-hl-lighter-green\/15 {
  background-color: rgb(231 255 193 / 0.15);
}

.bg-hl-lighter-green\/20 {
  background-color: rgb(231 255 193 / 0.2);
}

.bg-hl-lighter-green\/25 {
  background-color: rgb(231 255 193 / 0.25);
}

.bg-hl-lighter-green\/30 {
  background-color: rgb(231 255 193 / 0.3);
}

.bg-hl-lighter-green\/35 {
  background-color: rgb(231 255 193 / 0.35);
}

.bg-hl-lighter-green\/40 {
  background-color: rgb(231 255 193 / 0.4);
}

.bg-hl-lighter-green\/45 {
  background-color: rgb(231 255 193 / 0.45);
}

.bg-hl-lighter-green\/5 {
  background-color: rgb(231 255 193 / 0.05);
}

.bg-hl-lighter-green\/50 {
  background-color: rgb(231 255 193 / 0.5);
}

.bg-hl-lighter-green\/55 {
  background-color: rgb(231 255 193 / 0.55);
}

.bg-hl-lighter-green\/60 {
  background-color: rgb(231 255 193 / 0.6);
}

.bg-hl-lighter-green\/65 {
  background-color: rgb(231 255 193 / 0.65);
}

.bg-hl-lighter-green\/70 {
  background-color: rgb(231 255 193 / 0.7);
}

.bg-hl-lighter-green\/75 {
  background-color: rgb(231 255 193 / 0.75);
}

.bg-hl-lighter-green\/80 {
  background-color: rgb(231 255 193 / 0.8);
}

.bg-hl-lighter-green\/85 {
  background-color: rgb(231 255 193 / 0.85);
}

.bg-hl-lighter-green\/90 {
  background-color: rgb(231 255 193 / 0.9);
}

.bg-hl-lighter-green\/95 {
  background-color: rgb(231 255 193 / 0.95);
}

.bg-hl-lighter-red {
  --tw-bg-opacity: 1;
  background-color: rgb(255 218 191 / var(--tw-bg-opacity));
}

.bg-hl-lighter-red\/0 {
  background-color: rgb(255 218 191 / 0);
}

.bg-hl-lighter-red\/10 {
  background-color: rgb(255 218 191 / 0.1);
}

.bg-hl-lighter-red\/100 {
  background-color: rgb(255 218 191 / 1);
}

.bg-hl-lighter-red\/15 {
  background-color: rgb(255 218 191 / 0.15);
}

.bg-hl-lighter-red\/20 {
  background-color: rgb(255 218 191 / 0.2);
}

.bg-hl-lighter-red\/25 {
  background-color: rgb(255 218 191 / 0.25);
}

.bg-hl-lighter-red\/30 {
  background-color: rgb(255 218 191 / 0.3);
}

.bg-hl-lighter-red\/35 {
  background-color: rgb(255 218 191 / 0.35);
}

.bg-hl-lighter-red\/40 {
  background-color: rgb(255 218 191 / 0.4);
}

.bg-hl-lighter-red\/45 {
  background-color: rgb(255 218 191 / 0.45);
}

.bg-hl-lighter-red\/5 {
  background-color: rgb(255 218 191 / 0.05);
}

.bg-hl-lighter-red\/50 {
  background-color: rgb(255 218 191 / 0.5);
}

.bg-hl-lighter-red\/55 {
  background-color: rgb(255 218 191 / 0.55);
}

.bg-hl-lighter-red\/60 {
  background-color: rgb(255 218 191 / 0.6);
}

.bg-hl-lighter-red\/65 {
  background-color: rgb(255 218 191 / 0.65);
}

.bg-hl-lighter-red\/70 {
  background-color: rgb(255 218 191 / 0.7);
}

.bg-hl-lighter-red\/75 {
  background-color: rgb(255 218 191 / 0.75);
}

.bg-hl-lighter-red\/80 {
  background-color: rgb(255 218 191 / 0.8);
}

.bg-hl-lighter-red\/85 {
  background-color: rgb(255 218 191 / 0.85);
}

.bg-hl-lighter-red\/90 {
  background-color: rgb(255 218 191 / 0.9);
}

.bg-hl-lighter-red\/95 {
  background-color: rgb(255 218 191 / 0.95);
}

.bg-hl-lighter-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 247 203 / var(--tw-bg-opacity));
}

.bg-hl-lighter-yellow\/0 {
  background-color: rgb(255 247 203 / 0);
}

.bg-hl-lighter-yellow\/10 {
  background-color: rgb(255 247 203 / 0.1);
}

.bg-hl-lighter-yellow\/100 {
  background-color: rgb(255 247 203 / 1);
}

.bg-hl-lighter-yellow\/15 {
  background-color: rgb(255 247 203 / 0.15);
}

.bg-hl-lighter-yellow\/20 {
  background-color: rgb(255 247 203 / 0.2);
}

.bg-hl-lighter-yellow\/25 {
  background-color: rgb(255 247 203 / 0.25);
}

.bg-hl-lighter-yellow\/30 {
  background-color: rgb(255 247 203 / 0.3);
}

.bg-hl-lighter-yellow\/35 {
  background-color: rgb(255 247 203 / 0.35);
}

.bg-hl-lighter-yellow\/40 {
  background-color: rgb(255 247 203 / 0.4);
}

.bg-hl-lighter-yellow\/45 {
  background-color: rgb(255 247 203 / 0.45);
}

.bg-hl-lighter-yellow\/5 {
  background-color: rgb(255 247 203 / 0.05);
}

.bg-hl-lighter-yellow\/50 {
  background-color: rgb(255 247 203 / 0.5);
}

.bg-hl-lighter-yellow\/55 {
  background-color: rgb(255 247 203 / 0.55);
}

.bg-hl-lighter-yellow\/60 {
  background-color: rgb(255 247 203 / 0.6);
}

.bg-hl-lighter-yellow\/65 {
  background-color: rgb(255 247 203 / 0.65);
}

.bg-hl-lighter-yellow\/70 {
  background-color: rgb(255 247 203 / 0.7);
}

.bg-hl-lighter-yellow\/75 {
  background-color: rgb(255 247 203 / 0.75);
}

.bg-hl-lighter-yellow\/80 {
  background-color: rgb(255 247 203 / 0.8);
}

.bg-hl-lighter-yellow\/85 {
  background-color: rgb(255 247 203 / 0.85);
}

.bg-hl-lighter-yellow\/90 {
  background-color: rgb(255 247 203 / 0.9);
}

.bg-hl-lighter-yellow\/95 {
  background-color: rgb(255 247 203 / 0.95);
}

.bg-hl-red {
  --tw-bg-opacity: 1;
  background-color: rgb(232 86 41 / var(--tw-bg-opacity));
}

.bg-hl-red\/0 {
  background-color: rgb(232 86 41 / 0);
}

.bg-hl-red\/10 {
  background-color: rgb(232 86 41 / 0.1);
}

.bg-hl-red\/100 {
  background-color: rgb(232 86 41 / 1);
}

.bg-hl-red\/15 {
  background-color: rgb(232 86 41 / 0.15);
}

.bg-hl-red\/20 {
  background-color: rgb(232 86 41 / 0.2);
}

.bg-hl-red\/25 {
  background-color: rgb(232 86 41 / 0.25);
}

.bg-hl-red\/30 {
  background-color: rgb(232 86 41 / 0.3);
}

.bg-hl-red\/35 {
  background-color: rgb(232 86 41 / 0.35);
}

.bg-hl-red\/40 {
  background-color: rgb(232 86 41 / 0.4);
}

.bg-hl-red\/45 {
  background-color: rgb(232 86 41 / 0.45);
}

.bg-hl-red\/5 {
  background-color: rgb(232 86 41 / 0.05);
}

.bg-hl-red\/50 {
  background-color: rgb(232 86 41 / 0.5);
}

.bg-hl-red\/55 {
  background-color: rgb(232 86 41 / 0.55);
}

.bg-hl-red\/60 {
  background-color: rgb(232 86 41 / 0.6);
}

.bg-hl-red\/65 {
  background-color: rgb(232 86 41 / 0.65);
}

.bg-hl-red\/70 {
  background-color: rgb(232 86 41 / 0.7);
}

.bg-hl-red\/75 {
  background-color: rgb(232 86 41 / 0.75);
}

.bg-hl-red\/80 {
  background-color: rgb(232 86 41 / 0.8);
}

.bg-hl-red\/85 {
  background-color: rgb(232 86 41 / 0.85);
}

.bg-hl-red\/90 {
  background-color: rgb(232 86 41 / 0.9);
}

.bg-hl-red\/95 {
  background-color: rgb(232 86 41 / 0.95);
}

.bg-hl-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 176 0 / var(--tw-bg-opacity));
}

.bg-hl-yellow\/0 {
  background-color: rgb(255 176 0 / 0);
}

.bg-hl-yellow\/10 {
  background-color: rgb(255 176 0 / 0.1);
}

.bg-hl-yellow\/100 {
  background-color: rgb(255 176 0 / 1);
}

.bg-hl-yellow\/15 {
  background-color: rgb(255 176 0 / 0.15);
}

.bg-hl-yellow\/20 {
  background-color: rgb(255 176 0 / 0.2);
}

.bg-hl-yellow\/25 {
  background-color: rgb(255 176 0 / 0.25);
}

.bg-hl-yellow\/30 {
  background-color: rgb(255 176 0 / 0.3);
}

.bg-hl-yellow\/35 {
  background-color: rgb(255 176 0 / 0.35);
}

.bg-hl-yellow\/40 {
  background-color: rgb(255 176 0 / 0.4);
}

.bg-hl-yellow\/45 {
  background-color: rgb(255 176 0 / 0.45);
}

.bg-hl-yellow\/5 {
  background-color: rgb(255 176 0 / 0.05);
}

.bg-hl-yellow\/50 {
  background-color: rgb(255 176 0 / 0.5);
}

.bg-hl-yellow\/55 {
  background-color: rgb(255 176 0 / 0.55);
}

.bg-hl-yellow\/60 {
  background-color: rgb(255 176 0 / 0.6);
}

.bg-hl-yellow\/65 {
  background-color: rgb(255 176 0 / 0.65);
}

.bg-hl-yellow\/70 {
  background-color: rgb(255 176 0 / 0.7);
}

.bg-hl-yellow\/75 {
  background-color: rgb(255 176 0 / 0.75);
}

.bg-hl-yellow\/80 {
  background-color: rgb(255 176 0 / 0.8);
}

.bg-hl-yellow\/85 {
  background-color: rgb(255 176 0 / 0.85);
}

.bg-hl-yellow\/90 {
  background-color: rgb(255 176 0 / 0.9);
}

.bg-hl-yellow\/95 {
  background-color: rgb(255 176 0 / 0.95);
}

.bg-neutral-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(163 163 163 / var(--tw-bg-opacity));
}

.bg-neutral-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(64 64 64 / var(--tw-bg-opacity));
}

.bg-neutral-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}

.bg-orange-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(251 146 60 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-neutral-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity));
}

.bg-neutral-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(82 82 82 / var(--tw-bg-opacity));
}

.\!bg-neutral-800 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity)) !important;
}

.fill-bg {
  fill: #FFFFF2;
}

.fill-hl-yellow {
  fill: #FFB000;
}

.fill-none {
  fill: none;
}

.stroke-bg {
  stroke: #FFFFF2;
}

.stroke-black {
  stroke: #000;
}

.stroke-hl-yellow {
  stroke: #FFB000;
}

.stroke-neutral-800 {
  stroke: #262626;
}

.stroke-1 {
  stroke-width: 1;
}

.stroke-2 {
  stroke-width: 2;
}

.stroke-\[40px\] {
  stroke-width: 40px;
}

.object-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.object-center {
  -o-object-position: center;
     object-position: center;
}

.object-top {
  -o-object-position: top;
     object-position: top;
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[4rem\] {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pb-\[75\%\] {
  padding-bottom: 75%;
}

.pt-4 {
  padding-top: 1rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-body {
  font-family: Space Grotesk, system-ui;
}

.font-display {
  font-family: Kufam, system-ui;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-\[1\.4rem\] {
  font-size: 1.4rem;
}

.text-\[1\.7rem\] {
  font-size: 1.7rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.tracking-\[0\.08em\] {
  letter-spacing: 0.08em;
}

.text-bg {
  --tw-text-opacity: 1;
  color: rgb(255 255 242 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-hl-blue {
  --tw-text-opacity: 1;
  color: rgb(48 159 181 / var(--tw-text-opacity));
}

.text-hl-green {
  --tw-text-opacity: 1;
  color: rgb(139 186 65 / var(--tw-text-opacity));
}

.text-hl-red {
  --tw-text-opacity: 1;
  color: rgb(232 86 41 / var(--tw-text-opacity));
}

.text-hl-yellow {
  --tw-text-opacity: 1;
  color: rgb(255 176 0 / var(--tw-text-opacity));
}

.text-neutral-400 {
  --tw-text-opacity: 1;
  color: rgb(163 163 163 / var(--tw-text-opacity));
}

.text-neutral-800 {
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity));
}

.text-pri-head {
  --tw-text-opacity: 1;
  color: rgb(27 165 203 / var(--tw-text-opacity));
}

.text-sec-head {
  --tw-text-opacity: 1;
  color: rgb(255 88 0 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.\!text-bg {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 242 / var(--tw-text-opacity)) !important;
}

.underline {
  text-decoration-line: underline;
}

.decoration-wavy {
  text-decoration-style: wavy;
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-30 {
  opacity: 0.3;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline {
  outline-style: solid;
}

.drop-shadow-2xl {
  --tw-drop-shadow: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Chrome, Safari and Opera */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

:root {
  --header-height: 10rem;
}

.placeholder\:font-body::-moz-placeholder {
  font-family: Space Grotesk, system-ui;
}

.placeholder\:font-body::placeholder {
  font-family: Space Grotesk, system-ui;
}

.placeholder\:text-xl::-moz-placeholder {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.placeholder\:text-xl::placeholder {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.focus\:shadow-none:focus {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:outline-0:focus {
  outline-width: 0px;
}

.focus\:ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-bg:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(255 255 242 / var(--tw-ring-opacity));
}

.group:hover .group-hover\:-translate-x-2 {
  --tw-translate-x: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:translate-x-2 {
  --tw-translate-x: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  .motion-safe\:animate-wiggle {
    animation: wiggle 1s ease-in-out infinite;
  }
}

@media (min-width: 320px) {
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:gap-y-16 {
    row-gap: 4rem;
  }

  .sm\:break-normal {
    overflow-wrap: normal;
    word-break: normal;
  }

  .sm\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .sm\:py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 440px) {
  .reg\:-mx-\[5\%\] {
    margin-left: -5%;
    margin-right: -5%;
  }

  .reg\:-mx-\[6\%\] {
    margin-left: -6%;
    margin-right: -6%;
  }

  .reg\:mx-\[5\%\] {
    margin-left: 5%;
    margin-right: 5%;
  }

  .reg\:flex {
    display: flex;
  }

  .reg\:hidden {
    display: none;
  }

  .reg\:w-\[40rem\] {
    width: 40rem;
  }

  .reg\:flex-row {
    flex-direction: row;
  }

  .reg\:items-center {
    align-items: center;
  }

  .reg\:p-12 {
    padding: 3rem;
  }
}

@media (min-width: 750px) {
  .md\:sticky {
    position: sticky;
  }

  .md\:bottom-12 {
    bottom: 3rem;
  }

  .md\:left-16 {
    left: 4rem;
  }

  .md\:right-20 {
    right: 5rem;
  }

  .md\:top-0 {
    top: 0px;
  }

  .md\:-mx-\[2\%\] {
    margin-left: -2%;
    margin-right: -2%;
  }

  .md\:-mx-\[3\%\] {
    margin-left: -3%;
    margin-right: -3%;
  }

  .md\:mx-\[2\%\] {
    margin-left: 2%;
    margin-right: 2%;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mr-\[10\%\] {
    margin-right: 10%;
  }

  .md\:mr-\[2\%\] {
    margin-right: 2%;
  }

  .md\:block {
    display: block;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-2\/5 {
    width: 40%;
  }

  .md\:w-\[30\%\] {
    width: 30%;
  }

  .md\:w-\[45\%\] {
    width: 45%;
  }

  .md\:w-\[45rem\] {
    width: 45rem;
  }

  .md\:w-\[53\%\] {
    width: 53%;
  }

  .md\:w-\[60\%\] {
    width: 60%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:gap-16 {
    gap: 4rem;
  }

  .md\:self-start {
    align-self: flex-start;
  }

  .md\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .md\:pt-32 {
    padding-top: 8rem;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 990px) {
  .lg\:-mx-\[5\%\] {
    margin-left: -5%;
    margin-right: -5%;
  }

  .lg\:-mx-\[6\%\] {
    margin-left: -6%;
    margin-right: -6%;
  }

  .lg\:mx-\[5\%\] {
    margin-left: 5%;
    margin-right: 5%;
  }

  .lg\:mr-0 {
    margin-right: 0px;
  }

  .lg\:mr-\[5\%\] {
    margin-right: 5%;
  }

  .lg\:w-\[45\%\] {
    width: 45%;
  }

  .lg\:w-\[50\%\] {
    width: 50%;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }
}

@media (min-width: 1440px) {
  .xl\:-mx-\[10\%\] {
    margin-left: -10%;
    margin-right: -10%;
  }

  .xl\:-mx-\[13\%\] {
    margin-left: -13%;
    margin-right: -13%;
  }

  .xl\:mx-\[10\%\] {
    margin-left: 10%;
    margin-right: 10%;
  }

  .xl\:h-\[70rem\] {
    height: 70rem;
  }

  .xl\:w-\[20\%\] {
    width: 20%;
  }

  .xl\:w-\[35\%\] {
    width: 35%;
  }

  .xl\:w-\[50rem\] {
    width: 50rem;
  }

  .xl\:w-\[60\%\] {
    width: 60%;
  }

  .xl\:w-\[70\%\] {
    width: 70%;
  }

  .xl\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}